<footer>
    
    <!--- Acá van las 4 columnas del footer-->

    <section class="footer-section-top">

        <!-- PRIMER COLUMNA -->
        <div class="footer-cards">
            <h4>Menú páginas</h4>
            <br>
            <a href="/home.html">Inicio</a>
            <br>
            <a href="/activades.html">Actividades válidas</a>
            <br>
            <a href="/descargarpoliza.html">Descargar mi póliza</a>
            <br>
            <a href="/login.html">Inicio</a>
            <br>
            <a href="/register.html">Inicio</a>
        </div>
        <br>

        <!-- SEGUNDA COLUMNA -->
        <div class="footer-cards">
            <div>
                <h5>Horarios de atención y contacto</h4>
                <br>
                <p>Lunes a Viernes</p>
                <br>
                <p>9:00 a 21:00 hs.</p>
            </div>
                <br>
            <div>
                <h5>Guardias pasivas</h4>
                <br>
                <p>Sábados, Domingos y feriados</p>
                <br>
                <p>10:00 a 19:00 hs.</p>
            </div>
        </div>
        <br>

        <!-- TERCERA COLUMNA -->
        <div class="footer-cards">
            <div>
            <h5>Compañías aseguradoras</h4>
            <br>
                <a href="https://www.google.com/">Sancor Seguros</a>
                <br>
                <a href="https://www.google.com/">La Meridional Seguros</a>
                <br>
                <a href="https://www.google.com/">Colón seguros</a>
                <br>
                <a href="https://www.google.com/">BBVA Seguros</a>
                <br>
                <a href="https://www.google.com/">Mercantil Andina</a>
            </div>
            <br>
            <div>
                <h5>Vendé online</h4>
                <br>
                <p>Sea parte de nuestra plataforma, ofrezca sus productos.</p>
            </div>
        </div>
            <br>

         <!-- CUARTA COLUMNA -->

            <div class="footer-cards">
                    <h5>Contratá tu seguro</h4>
                    <br>
                    <p>** Todos los precios publicados son finales, se encuentran expresados en -pesos argentinos- e incluyen servicios, premio, impuestos y sellado provincial. Los valores, pueden disminuir de acuerdo a la cantidad de días o personas contratadas.
                    SyGOm Servicios y gastos operativos de mecubro.com</p>
                    <br>
            </div>

    </section>

    <!-- ICONOS REDES -->
    <section class="footer-section-bottom">
        <div>
            <a href="https://www.instagram.com"><img src="/css/images/instagram.png"></a>
            <a href="https://www.facebook.com"><img src="/css/images/facebook.png"></a>
            <a href="https://www.twitter.com"><img src="/css/images/twitter.png"></a>
            <a href="https://www.linkedin.com"><img src="/css/images/linkedin.png"></a>
            <a href="https://www.mail.com"><img src="/css/images/mail.png"></a>
        </div>

        <!-- COPYRIGHT -->
        <div>
            <p>Copyright © 1999-2020 Estoy Seguro S.R.L.</p>
        </div>
    </section>
</footer>