<header class="header">
        <div class="logo">
            <a href="/"><img src="/images/Logo.png" class="logo"></a>
        </div>
       <nav>
        <ul class="nav-links">
            <li><a href="/products">Seguros </a></li>
            <li><a href="/products/create">Crear un Seguro</a></li>
<<<<<<< HEAD
            <li><a href="/#grupo-2">Contacto</a></li>
=======
            <li><a href="#footer">Contacto</a></li>
>>>>>>> 3e2c6b173b97757eccaa291f8a3324c3df357368
        </ul>
        </nav>
        <div class="btn-links ">
       <a href="/register" class="btn"><button>Registrarse</button></a>
       <a href="/login" class="btn"><button>Ingresar</button></a>
        </div>
</header>