<header class="main-header">
    <div class="top-header">
        <div class="logo">
            <a href="/"><img src="/images/Logo.png" class="logo"></a>
        </div>
        <nav>
            <ul>
            <li><a href="#">Inicio</a></li>
            <li><a href="#">Riesgos</a></li>
            <li><a href="#">Empresas</a></l>
            <li><a href="#">Planes</a></li>
            <li><a href="#">Contaco</a></li>
         </ul>
        </nav>
        <div class="login-seccion">
            <div>
                <a href="/login" class="login-button">Ingresar</a>
            </div>
            <br>    
            <div>
                <a href="/register" class="login-button">Registrarse</a>
            </div>
        </div>
    </div>
</header>