<header class="main-header">

    <!-- ACA VA EL LOGO -->
        <div>
            <img src="/images/Logo.jpg" class="logo">
        </div>

        
    <!-- ESTE ES EL MENU -->
        <nav class="login-bar">
            <div>
                <ul type="none" class="login-bar-left">
                    <li>Actividades válidas</li>
                    <li>Descargar mi póliza</li>
                </ul>
            </div>
    
    <!-- BOTON INGRESAR -->
            <div class="login-bar-right">
                <div>
                   <a href="/login">Ingresar</a>
                </div>
                <br>    
    <!-- BOTON REGISTRO -->
                <div>
                 <a href="/register">Registrarse</a>
                </div>
            </div>
            
        </nav>
    </header>