<!DOCTYPE html>
<html lang="es">
<%- include('./partials/head', {title: 'Formulario de creación'}) %>

<body class="product-edit">
	<%- include('./partials/header') %>
	<section class="product-detail-section" >
		<div>				
			<h2>Edita tus seguros</h2>
		</div>
		<div class="product-detail-form">
            <div>
                <h3><%= product.name %> </h3>
            </div>
            <div class="card">
                <figure>
                    <i class="fa-solid fa-fire"></i>
                </figure>
                <div class= "contenido">
                    <h3>Incendio</h3>
                </div>
            </div>
            <div class="product-detail-inline">
            <h4>Categoria:</h4>
            <h4>Precio:</h4>
            </div>
            <div class="product-detail-description">
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Atque nesciunt sequi cum necessitatibus, voluptatibus architecto eos tempora neque eum dicta inventore minima accusantium eius ipsa aperiam totam! Magni, eaque reprehenderit.</p>
            </div>
            <div class="product-detail-buttons">
                <a href="/register" class="btn"><button>Editar</button></a>
                <a href="/login" class="btn"><button>Eliminar</button></a>
            </div>
		</div>
	</section>
</body>	
</html>