* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* ---ESTILOS PARA EL HEADER ---*/
body {
    background-color:  #fff;
}

.top-header {
    display: flex;
    justify-content: space-between;
    background-color:  #fff;
    align-items: center;
    width: 100%;
}

p {
    color: white;
}

.top-header .logo {
   cursor:pointer
}

.top-header .logo img{
    height: 200px;
    width: auto;
    transition: all 0.3s;
}

.top-header .logo img:hover{
   transform: scale(1.2);
}

.login-seccion{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.login-button {
	background-color:#007DFF;
	border-radius:28px;
	border:0px solid #fcb03d;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:13px;
	padding:10px 15px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
    margin: 4px;
}
.login-button:hover {
	background-color:#fcb03d;
}
.login-button:active {
	position:relative;
	top:1px;
}

nav {
    display: none;
    float:left;
    background-color: #007DFF;  
    width: 40%;
    border-radius: 15px;
}
  
  nav ul {
    list-style: none;
    overflow: hidden; 
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  nav ul li {
    font-family: Arial, sans-serif;
    font-size: 16px;
    display: block;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 20%;

  }

  nav ul li a {
    display: block;
    padding: 15px;
    color: #FFF;
    text-decoration: none;
    text-align: center;
    justify-content: center;
    align-items: center;
}
    


  nav ul li:hover {
    background: #fcaf3d;
  }

@media (min-width: 768px) { 
    
.top-header {
    display: flex;
    justify-content: space-between;
    background-color:  #fff;
    align-items: center;
    width: 100%;
}


.logo {
    width: 250px;
    margin-left: 25px;
}

.login-button {
	background-color:#007DFF;
	border-radius:28px;
	border:0px solid #fcb03d;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:20px;
	padding:20px 30px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
    margin: 4px;
}
}

@media (min-width: 1024px) { 
nav {
    float: left;
    display:  inline;
}
}
/*--- ESTILOS DEL HOME ---*/

main {
    background-color: #fff;
}

.stepper-wrapper {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  .stepper-item {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
  
    @media (max-width: 768px) {
      font-size: 12px;
    }
  }
  .stepper-item::before {
    position: absolute;
    content: "";
    border-bottom: 2px solid #ccc;
    width: 100%;
    top: 20px;
    left: -50%;
    z-index: 2;
  }
  
  .stepper-item::after {
    position: absolute;
    content: "";
    border-bottom: 2px solid #ccc;
    width: 100%;
    top: 20px;
    left: 50%;
    z-index: 2;
  }
  
  .stepper-item .step-counter {
    position: relative;
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #ccc;
    margin-bottom: 6px;
  }
  
  .stepper-item.active {
    font-weight: bold;
  }
  
  .stepper-item.completed .step-counter {
    background-color: #007DFF;
  }
  
  .stepper-item.completed::after {
    position: absolute;
    content: "";
    border-bottom: 2px solid #007DFF;
    top: 20px;
    left: 50%;
    z-index: 3;
  }
  
  .stepper-item:first-child::before {
    content: none;
  }
  .stepper-item:last-child::after {
    content: none;
  }
.step-name{
    color: white;
}

.cotizador {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    background-color: #fcaf3d;
    align-items:flex-end;
    align-items: center;
    width: 100%;
    height: 250px;
    margin-top: 20px;
    margin-bottom: 15px;
    border-radius: 7%;
}

.cotizador form{
    display: flex;
    flex: auto;
    margin: 20px;
    justify-content: center;
    align-items: center;
}
.cotizador select {
    width: 30%;
    height: 40px;
    font-size: 15px;
    color: #000e29;
    border: 1px solid #EFF1F6;
    background-color:white;
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 0px 20px;
    margin: 4px;
}
.cotizador input {
    width: 30%;
    height: 40px;
    font-size: 15px;
    color: #000e29;
    border: 1px solid #EFF1F6;
    background-color:white;
    border-radius: 10px;
    margin-bottom: 15px;
    padding: 0px 20px;
    margin: 4px;
}

.cotizador-button {
    background:    #007DFF;
    border-radius: 1000px;
    color:         #ffffff;
    display:       inline-block;
    font:          normal bold 5px/1;
    text-align:    center;
    margin: auto;
}

.cotizador-button:hover {
	background-color:#fcb03d;
}
@media (min-width: 768px) { 

    .cotizador-options{
        width: 100%;
    }
    .cotizador select {
        width: 30%;
        height: 40px;
        font-size: 15px;
        color: #000e29;
        border: 1px solid #EFF1F6;
        background-color:white;
        border-radius: 10px;
        margin-bottom: 10px;
        padding: 0px 20px;
        margin: 4px;
    }
    .cotizador input {
        width: 30%;
        height: 40px;
        font-size: 15px;
        color: #000e29;
        border: 1px solid #EFF1F6;
        background-color:white;
        border-radius: 10px;
        margin-bottom: 15px;
        padding: 0px 20px;
        margin: 4px;

}
}

h5 {
    text-align: center;
    padding: 10px;
    color: white;
}

.iconos-tarjetas {
    text-align: center;
    margin: 10px
}

.iconos-tarjetas i {
    color: white;
}

.descripciones {
    display: flex;
    color: white;
}

/*--- ESTILOS PARA EL SLIDER DEL HOME ---*/

.container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.swiper{
    width: 100%;
    height: fit-content;
}
.swiper-slide img {
    width: 100%;
}

/*--- ESTILOS DE LAS TARJETAS ---*/

.container-card {
    display: flex;
    flex-direction: column;
    width:90%;
    max-width:500px;
    justify-content: center;
    text-align: center;
    margin: auto;
}

.card {
    width: 100%;
    margin-top: 10px;
    box-shadow: 0px 1px 10px rgba (0,0,0,0.2);
    background: #fcb03d;
    border-radius: 6px;
    overflow: hidden;
    cursor: default;
    transition: all 400ms ease;

}

.card:hover {
    box-shadow: 5px 5px 20px rgba (1,1,1,0.4);
    background: #007DFF;
}
.card i{
    color: #fff;
    font-size: 30px;
    margin: 5px;
}

.card h3{
    color: #fff;
}
@media (min-width: 768px) { 
   
    .container-card {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);
        grid-column-gap: 25px;
        grid-row-gap: 15px;
        justify-content: center;
        text-align: center;
        margin: auto;
        width: 100%;
    }
    }

    @media (min-width: 1024px) {  
        
        .container-card {
        display: grid;
        grid-template-columns: repeat(4, 25%);
        grid-template-rows: repeat(2, 50%);
        grid-column-gap: 25px;
        grid-row-gap: 15px;
        justify-content: center;
        text-align: center;
        margin: auto;
        max-width: 80%;
    }
}

/*--- ESTILOS DE LAS TARJETAS DE DESCRIPCION ---*/
.siniestro-seccion{
    display: flex;
}

.siniestros-container{
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgb(2,0,36);
    background: linear-gradient(300deg, rgba(2,0,36,1) 0%, rgba(44,162,251,1) 46%, rgba(53,141,159,1) 100%);
    border-radius: 6px;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;

}

.siniestros-container h2{
    color: #EFF1F6;
    font-weight: 400;
    margin-bottom: 10px;
    padding: 15px;
}

.siniestros-container h3{
    color:#fcaf3d;
    font-size: 25px;
    text-align: left;
    padding-left: 15px;
}

.siniestros-container h4{
    color:#ccc;
    font-size: 20px;
    text-align: left;
    padding-left:  15px;
}
.siniestros-descripcion i{
    color: #fcaf3d;
    margin-right: 5px;
 }

.siniestros-descripcion{
    color: #EFF1F6;
    font-size:15px;
    text-align: left;
    margin-top: 30px;
    padding: 15px;
    text-align: justify;
}

.siniestros-button {
    background:#007DFF;
    border-radius: 1000px;
    color: #ffffff;
    display: inline-block;
    font: normal bold 5px/1;
    text-align: center;
    margin: 10px;
}

.siniestros-button:hover {
	background-color:#fcb03d;
}


/*--- ESTILOS DEL PRODUCT DETAIL--*/
.container-products-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.image-row img{
    width: 100%;
    min-height: 200px;
}

.product-description .product-row1{
    display: flex;
    justify-content: center;
    align-items: flex;
    flex-direction: column;
    width: 90%;
}

@media (min-width: 768px) {
    .product-description .product-row1{
        display: flex;
        justify-content: center;
        align-items: flex;
        flex-direction: row;
        width: 90%;
    }
    .product-description .product-row1 .detail{
        width: 33%;
    }
}

.product-row1 .detail h2{
    color:#fcaf3d;
    font-size: 25px;
    line-height: 40px;
    margin-left: 40px
}

.product-row1 .detail h4{
    color:#0a1a2a;
    font-size: 15px;
    line-height: 40px;
    margin-left: 40px;

}
.product-row2{
    background-color: rgb(245, 244, 244);

}

.product-row2 .detail h3{
    color:#fcaf3d;
    font-size: 25px;
    font-weight:900;
    line-height: 40px;
    margin-left: 40px
}

.product-row2 .detail h4{
    color:#000e29;
    font-size: 13px;
    line-height: 40px;
    margin-left: 40px;

}
.product-row3{
    background-color:#fcaf3d;
    justify-content: center;
    align-items: center;
    padding: 25px;
}

.product-row3 h3{
    color:#fff;
    font-size: 25px;
    line-height: 40px;
    margin-left: 40px
}

.product-row3 h4{
    color:#fff;
    font-size: 15px;
    line-height: 40px;
    margin-left: 40px;
}

.product-row3 button{
    text-align: center;
    margin-left: 50%;
    margin-right: 50%;
}

/*--- ESTILOS DEL FORMULARIO DE REGISTRO ---*/
.register-section {
    background-color:  #fcaf3d;
    padding: 20px;
}

.register-section div {
    text-align: center;
}

.register-section div p {
    color: white;
}

.register-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    width: 50%;
    height: 60px;
    font-size: 15px;
    color: #000e29;
    border: 1px solid #EFF1F6;
    background-color:white;
    border-radius: 10px;
    margin-bottom: 15px;
    padding: 0px 20px;
}


button {
    display: inline-block;
    font-size: 15px;
    font-weight: 700;
    color: white;
    background: #007DFF;
    height: 65px;
    line-height: 65px;
    text-align: center;
    padding: 0 50px;
    border-radius: 91px;
    text-transform: uppercase;
    transition: 0.3s;
    border: none;
}

select {
    width: 50%;
    height: 60px;
    font-size: 15px;
    color: #000e29;
    border: 1px solid #EFF1F6;
    background-color:white;
    border-radius: 10px;
    margin-bottom: 15px;
    padding: 0px 20px;
}

button:hover{
    background-color: #fcaf3d;
}

.descripciones{
    display: flex;
    flex-direction: column;

}


/*--- ESTILOS DEL FORMULARIO DE LOG-IN ---*/

.login-form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-section div {
    text-align: center;
    padding: 20px;
    color: white;
}

.login-section{
    background-color:  #fcaf3d;
    
}

/*--- ESTILOS PARA EL FOOTER ---*/

/* Footer */

.pie-pagina{
    width: 100%;
    background-color: #fcaf3d;

}

.pie-pagina .grupo-1{
    display: flex;
    flex-direction: column;
    width: 100%; 
}

.pie-pagina .grupo-1 .box-1{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pie-pagina .grupo-1 figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
}

.pie-pagina .grupo-1 figure img{
    width: 200px ;
    height: 200px;
}

.pie-pagina .grupo-1 .box h2{
    color: white;
    font-size: 20px;
}

.pie-pagina .grupo-1 .box p {
    color: #efefef;
    margin-bottom: 10px;
}

.pie-pagina .grupo-1 .rec-social{
    display: flex;
    justify-content: center;
}

.pie-pagina .grupo-1 .info-footer{
    position: inherit;
    margin-top: -20px ;
    
}
.pie-pagina .grupo-1 .rec-social a{
    display: inline;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: white;
    margin-right: 10px;
    background-color: #fcaf3d;
    text-align: center;
    transition: all 300ms ease;
    align-self: center;
    font-size: 25px;
}

.pie-pagina .grupo-1 .info-footer a{
    font-size: 15px;
    color: white;
    font-weight: bold;
}

.pie-pagina .grupo-1 .rec-social a:hover{
 color:aqua   
}

.pie-pagina .grupo-2{
    background-color: #0a1a2a;
    padding: 15px 10px;
    text-align: center;
    color: #fff;
}

.pie-pagina .grupo-2 small{
    font-size: 15px;
}

@media (min-width: 768px) { 

    .pie-pagina .grupo-1{
        display: flex;
        flex-direction: row;
        width: 100%; 
        }

    .pie-pagina .grupo-1 .info-footer{
        position: inherit;
        margin-top: auto;
        }

    .pie-pagina .grupo-1 .box{
        width: 30%;
        justify-content: center;
        text-align: center;
        align-items: center;
    }
    
    }

    @media (min-width: 1024px) {  
        
    .pie-pagina .grupo-1{
        display: flex;
        flex-direction: row;
        width: 100%; 
        }

    .pie-pagina .grupo-1 .info-footer{
            position: inherit;
            margin-top: auto;
            
        }
    }
/*--- ESTILOS PARA EL CARRITO DE COMPRAS  ---*/

.carrito-filtros {
    display: flex;
    justify-content: space-between;
    background-color:  #000e29;
    align-items: center;

}
.carrito-filtros select {
    width: 220px;
}

.carrito-cards {
    display: flex;
    background-color:  #000e29;
    align-items: center;
}
.carrito-cards .cotizador {
    flex-direction: column;
    width: 25%;
    align-items: center;
    padding: 15px;
}
.carrito-cards article {
    width: 25%;
    padding: 10px;

}
.avanzar-retroceder {
    display: flex;
    justify-content: center;
    background-color:  #000e29;
    padding: 10px;
}
