<!DOCTYPE html>
<html lang="es">
<%- include('./partials/head', {title: 'Formulario de creación'}) %>

<body class="product-create">
	<%- include('./partials/header') %>
	<section class="create-section" >
		<div>				
			<h2>Creár un Seguro</h2>
		</div>
		<div class="create-form">
			<form action="/products/create/" method="POST">
				<div>
					<div>
						<label for="type">Tipo</label>
						<select name="type" id="type" class="select-css">
							<option value="">Elegí</option>
							<option value="automoviles">Automoviles</option>
							<option value="seguros-de-vida">Seguros de Vida </option>
							<option value="riesgo-civil">Riesgo Civil</option>
							<option value="riesgo-de-trabajo">Riesgo de Trabajo</option>
							<option value="incendio">Incendio</option>
							<option value="tecnologia">Tecnologia</option>
							<option value="riesgo-cibernetico">Riesgo Cibernetico</option>
							<option value="cauciones">Cauciones</option>
						</select>
					</div>
					<div>
						<label for="name">Nombre del producto:</label>
						<input type="text" id="name" name="name" placeholder="Ej: Seguro para automoviles General">
					</div>
					<div>
						<label for="price">Precio del producto:</label><br>
						<input type="text" id="price" name="price" placeholder="Ej: 5678">
					</div>
					<div>
						<label for="duration">Duracion:</label>
						<input type="text" id="duration" name="duration" placeholder="Ej: Cantidad de años">
					</div>
					<div>
						<label for="icono">Icono del producto:</label>
						<input type="text" id="icon" name="icon" placeholder="Ej: fa-fas-XX">
					</div>					
					<div>
						<label for="description">Descipción:</label>
						<textarea name="description" id="description"></textarea>
					</div>
					<div>
						<label for="category">Categoría:</label>
						<select name="category" id="category" class="select-css">
							<option value="">Elegí</option>
							<option value="gold">Oro</option>
							<option value="platinum">Platino </option>
							<option value="zafiro">Zafiro </option>
						</select>
					</div>
					<div>
						<button id="button" type="submit" class="edit-button">CREAR</button>
					</div>
				</div>
			</form>
		</div>
	</section>
</body>	
</html>