<footer>
    <footer class="pie-pagina">
        <div class="grupo-1">
            <div class="box-1">
                    <h2>TODO SOBRE NOSOTROS</h2>
                    <ul class="footer-links">
                        <li><a href="#">Quienes Somos</a></li>
                        <li><a href="#">Terminos y Conidiciones</a></li>
                        <li><a href="#">Atencion al asegurado</a></li>
                        <li><a href="#">Preguntas Frecuentes</a></li>
                        <li><a href="#">Contacto</a></li>
                    </ul>
            </div>
            <div class="box-2">
                <h2>Asistencia Usuarios</h2>
                <h3>Horarios de atención</h3>
                <h4>Lunes a Viernes</h4>
                <h4>9:00 hs. a 21:00 hs.</h4>
                <h3>Guardias Pasivas</h3>
                <h4>Sábados, domingos y feriados</h4>
                <h4>10:00 hs. a 19:00 hs.</h4>
                <h3>Teléfonos</h3>
                <h4>11 6256 9850</h4>
                <h4>11 6256 5214</h4>
                <div class="rec-social">
                    <h2>Estemos conectados</h2>
                    <a href="/detail"><i class="fa-brands fa-facebook" ></i></a>
                    <a href="#"><i class="fa-brands fa-youtube" ></i></a>
                    <a href="#"><i class="fa-brands fa-linkedin" ></i></a>
                    <a href="#"><i class="fa-brands fa-instagram" ></i></a>
                </div>
            </div>
            <div class="box-3">
                <h2>Aseguradoras</h2>
                <ul>
                    <li><a href="#">Sancor Seguros</a></li>
                    <li><a href="#">La Meridional Seguros></li>
                    <li><a href="#">BBVA Seguros</a></li>
                    <li><a href="#">Mercantil Andina</a></li>
                </ul>
                <h2>Vendé Online</h2>
                <h4>Sea parte de nuestra plataforma, ofrezca sus productos.</h4>
            </div>
            <div class="box-4">
                <h2>Contratá hoy tu seguro</h2>
                <h4>** Todos los precios publicados son finales, se encuentran expresados en -pesos argentinos- e incluyen servicios, premio, impuestos y sellado provincial. Los valores, pueden disminuir de acuerdo a la cantidad de días o personas contratadas. SyGOm Servicios y gastos operativos de estoyseguro.com. Fácil, simple, sencillo y con el asesoramiento de aseguradoras y productores de seguros matriculados.
                </h4>
            </div>
        </div>
                    
        <div class="grupo-2">
            <small>
                &copy; 2022 <b>Estoy Seguro</b> - Todos los Derechos Reservados. </small> 
            </small>
        </div>
    </footer>
</footer>