<header class="header">
        <div class="logo">
            <a href="/"><img src="/images/Logo.png" class="logo"></a>
        </div>
       <nav>
        <ul class="nav-links">
            <li><a href="">Riesgos </a></li>
            <li><a href="">Mercadería</a></li>
            <li><a href="">Modificar un Seguro</a></li>
        </ul>
        </nav>
        <div class="btn-links ">
       <a href="/register" class="btn"><button>Registrarse</button></a>
       <a href="/login" class="btn"><button>Ingresar</button></a>
        </div>
</header>